/* .bx-img-banner img{
    width: 100%;
}
.bx-content-home{
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}
.bx-home-item {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}

.bx-home-item .box {
    text-align: center;
    min-width: 300px;
    background-color: var(--primary-blue);
    color: var(--light);
    padding: 10px;
}
.bx-home-item .box input{
    width: 200px;
    padding: 3px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    font-size: 10px;
    color: #333;
    background-color: var(--light);
}
.bx-home-item .box img{
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 880px) {
    .bx-content-home{
        display: flex;
        justify-content: center;
    }
    .bx-home-item {
        display: flex;
        justify-content: center;
        grid-gap: 10px;
        flex-direction: column;
    }
    .bx-home-item .box {
        text-align: center;
        min-width: 300px;
        background-color: var(--primary-blue);
        color: var(--light);
        padding: 10px;
    }
} */

.bx-home-g2 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 10px;
    padding: 5px 0;
    & .div1{
        display: grid;
        align-content: center;
    }
    & .div2{
        
        & img{
            max-width: 400px;
            min-width: 250px;
            width: 100%;

            @media (max-width: 780px){
                min-width: 200px;
            }
        }
    }
    & .div1box{
        border-radius: 10px;
        border:1px solid var(--light-grey);
        padding: 10px;

        & a{
            color: var(--dark);
        }
    }
    @media (max-width: 780px){
        grid-template-columns: auto;
    }
}

.bx-adminhome-g4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5px 0;
    & .div1{
        display: grid;
        align-content: center;
    }
    & .bx-adminhome-g2{
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 10px;
        padding: 5px 0;
    }


    & .admindiv1box{
        border-radius: 10px;
        border:1px solid var(--light-grey);
        padding: 10px;
        grid-gap: 5px;
        margin: 10px;
        text-align: center;
        max-width: 300px;
        & a{
            color: var(--dark);
        }
    }
    @media (max-width: 940px){
        grid-template-columns: 50% auto;
    }
    @media (max-width: 640px){
        grid-template-columns: auto;
        display: grid;
        justify-content: center;
    }
}