bcrypt
celery
opencv-python
Django
django-celery-beat
django-celery-results
django-cors-headers
django-environ
django-timezone-field
djangorestframework
environ
imutils
pandas
pythainlp
python-crfsuite
pyzbar
qrcode
redis
psycopg2-binary
